 <div class="bottom">
       <!--  <div class="left">
          <h1>dashboard</h1>
        </div> -->
        <div class="right">
          <h1>dashboard /</h1>
          <a href="#">Products List</a>
        </div>
      </div>

 <div id="real" ng-controller="batchCtrl">
 	 
<div class="container">
  <div class="row articles" style="margin-top: 10px;">
    <div class="col-md-12 breadcrumbe " ng-show="products.length==0">
      <p class="text-center">Sorry! No Products</p>
    </div>
    <input type="text" class="form-control" ng-model="searchText" placeholder="Search.." style="width: 70%;" /><br>
   <table class="table list" ng-show="products.length>0">

        <thead>
          <tr>
            <th>Sl No.</th>
            <th>Product Name</th>          
            <th>UOM</th>   
            <th></th>      
          </tr>
        </thead>
        <tbody>
        <!-- <tr ng-repeat="user in orders | reverse | filter:searchText" ng-hide="user.status=='Closed'"> -->
          <tr ng-repeat="prod in products | filter:searchText">
           
            <td>{{$index+1}}</td>
            <td>{{prod.product_name}}</td>
            <td>{{prod.uom}}</td>
            <td><a href="#/editprod"><i class="fa fa-edit" ng-click="save(prod)" style="font-size: 22px;color: #646cc7"></i></a></td>
           
        </tr>
        </tbody>
      </table>
  </div>
</div>

</div>