 <div class="bottom">
       <!--  <div class="left">
          <h1>dashboard</h1>
        </div> -->
        <div class="right">
          <h1>dashboard /</h1>
          <a href="#">Purchase List</a>
        </div>
      </div>

 <div id="real" ng-controller="batchCtrl">
 	 
<div class="container">
  <div class="row articles" style="margin-top: 10px;">
    <div class="col-md-12 breadcrumbe " ng-show="purchases.length==0">
      <p class="text-center">Sorry! No Purchase</p>
    </div>
    <input type="text" class="form-control" ng-model="searchText" placeholder="Search.." style="width: 70%;" /><br>
   <table class="table list" ng-show="purchases.length>0">

        <thead>
          <tr>
            <th>Inward Number</th>
            <th>Company Name</th>          
            <th>Inward date</th>         
            <th>Invoice Date</th>
            <th>Download Invoice</th>
            <th>View</th>         
                           
            <!-- <th>Edit</th> -->
          </tr>
        </thead>
        <tbody>
        <!-- <tr ng-repeat="user in orders | reverse | filter:searchText" ng-hide="user.status=='Closed'"> -->
          <tr ng-repeat="purchase in purchases | filter:searchText">
           
            <td>{{purchase.inward_number}}</td>
            <td>{{purchase.company_name}}</td>
            <td>{{purchase.inward_date}}</td>
            <td>{{purchase.invoice_date}}</td>
            <td><a href="{{purchase.file_path}}" target="_self" download><button  ng-disabled="purchase.file_path.length==null">Download</button></a></td>
            
            <td><a href="#/viewPurchasedDetails"><i class="fa fa-eye" ng-click="getPurc(purchase)" style="font-size: 18px;color: #646cc7"></i></a></td>
           
            <!-- <td><a href="#/editpurc"><i class="fa fa-edit" ng-click="save(purchase)" style="font-size: 22px;color: #646cc7"></i></a></td> -->
           
        </tr>
        </tbody>
      </table>
  </div>
</div>

</div>